# Managed by Notebook 9
CHEST_XRAY_SOLUTION_ROOT=/home/jovyan/chest-xray-ai-assistant
CHEST_XRAY_DATA_ROOT=/home/jovyan/apicdsa2-datavol-1/chest-xray-ai-assistant-data
CHEST_XRAY_API_HOST=0.0.0.0
CHEST_XRAY_API_PORT=8000
CHEST_XRAY_UI_HOST=0.0.0.0
CHEST_XRAY_UI_PORT=8501
CHEST_XRAY_API_BASE_URL=http://api:8000
MLFLOW_TRACKING_URI=file:///home/jovyan/apicdsa2-datavol-1/chest-xray-ai-assistant-data/mlflow
HF_HOME=/home/jovyan/apicdsa2-datavol-1/chest-xray-ai-assistant-data/hf-cache
HF_DATASETS_CACHE=/home/jovyan/apicdsa2-datavol-1/chest-xray-ai-assistant-data/hf-cache/datasets
TORCH_HOME=/home/jovyan/apicdsa2-datavol-1/chest-xray-ai-assistant-data/models/torch-cache
TOKENIZERS_PARALLELISM=false
